.t-image-overlay-sm
{
	display: -ms-grid;
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 1fr;
	width: 186px;
	height: 156px;
	padding: 12px;
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 12px;
	margin: 0px 6px 12px 6px;
}

.t-image-overlay-sm > img
{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	border: 1px solid #ddd;
	width: 184px;
	height: 154px;
}

.t-image-overlay-sm  > .t-image-overlay-caption
{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-row-align: end;
	display: -ms-grid;
	-ms-grid-columns: auto 1fr 1fr;
	-ms-grid-rows: auto auto;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(15, 25, 35, 1);
	padding: 6px;
	
}

.t-image-overlay-caption-title
{
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	-ms-grid-column-span: 3;
	margin-bottom: 6px;
	font-size: 14pt;
}

.t-image-overlay-caption-player-name
{	
	-ms-grid-column: 2;
	-ms-grid-row: 2;
	-ms-grid-row-align: end;
	margin-left: 6px;
}

.t-image-overlay-caption-player-name-text
{
	font-size: 10pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.t-image-overlay-caption > img
{
	-ms-grid-column: 1;
	-ms-grid-row: 2;
	width: 20px;
	height: 20px;
	
	-ms-grid-row-align: end;
}

.t-image-overlay-caption-stats
{
	-ms-grid-column: 3;
	-ms-grid-row: 2;
	-ms-grid-column-align: end;
	-ms-grid-row-align: end;
	font-size: 10pt;
	color: #777;
	
}

.t-image-overlay-caption-stats-icon
{
	font-family: "Webdings";
}


.t-hero-image-overlay
{
	display: -ms-grid;
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 1fr;
	background-color: #fff;
	width: 100%;
	height: 100%;
}

.t-hero-image-overlay > img
{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	width: 400px;
	height: 300px;
}

.t-hero-image-overlay-caption
{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-row-align: end;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(15, 25, 35, 1);
	padding: 6px;
}

.t-hero-image-overlay-caption-title
{
	font-size: 22pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 320px;
}

.t-hero-image-overlay-caption-name
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 314px;
	margin-left: 6px;
}

.t-hero-image-overlay-message
{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-row-align: start;
	background-color: rgba(255, 255, 255, 0.8);
	color: #555;
	font-size: 10pt;
	padding: 6px;
}

.t-hero-image-overlay-message-time
{
	font-size: 9pt;
	color: #777;
}

.t-list-item
{
	width: calc(100% - 24px);
	height: 72px;
	padding: 12px;
	margin: 0px 6px 12px 0px;
	border: 1px solid #eee;
	border-radius: 12px;
	background-color: #fff;
}

.t-list-item-grid
{
	display: -ms-grid;
	-ms-grid-columns: 72px 1fr;
	-ms-grid-rows: auto 1fr;
}

.t-list-item-icon
{
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	height: 72px;
	overflow: hidden;
	border: 1px solid #ddd;
}

.t-list-item-title
{
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	padding-left: 6px;
	font-size: 14pt;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	color: rgba(15, 25, 35, 1);
}

.t-list-item-menu
{
	-ms-grid-column: 2;
	-ms-grid-row: 2;
	padding-left: 6px;
	font-size: 10pt;
	color: #777;
}

.t-list-item-menu-icon
{
	font-family: "Webdings";
}

.t-shot-details-content
{
	overflow: hidden;
}

.t-shot-details
{
	display: -ms-grid;
	-ms-grid-columns: 1fr;
	-ms-grid-rows: auto 1fr auto;
	padding: 12px;
	height: calc(100% - 24px);
}

.t-shot-details-header
{
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	display: -ms-grid;
	-ms-grid-columns: 96px 1fr;
	-ms-grid-rows: auto auto;
	height: 96px;
	margin-bottom: 12px;	
}

.t-shot-details-header-avatar
{
	-ms-grid-row: 1;
	-ms-grid-columns: 1;
	-ms-grid-row-span: 2;
	width: 96px;
	height: 96px;
}

.t-shot-details-header-title
{
	-ms-grid-column: 2;
	-ms-grid-row: 1;
	font-size: 24pt;
	padding: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.t-shot-details-header-player-name
{
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	padding: 12px;
}

.t-shot-details-img
{
	-ms-grid-column: 1;
	-ms-grid-row: 2;
	overflow: hidden;
	margin-bottom: 12px;
}

.t-shot-details-stats
{
	-ms-grid-column: 1;
	-ms-grid-row: 3;
	display: -ms-box;
	-ms-box-align: middle;
	-ms-box-pack: justify;
}

@media screen and (orientation: portrait) and (min-width: 321px)
{
	.t-list-item
	{
		width: 200px;
		height: 72px;
		margin: 0px 12px 12px 0px;
	}

	.t-list-item-grid
	{
		display: -ms-grid;
		-ms-grid-columns: 72px 1fr;
		-ms-grid-rows: auto 1fr;
	}

	.t-list-item-icon
	{
		-ms-grid-column: 1;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		height: 72px;
		overflow: hidden;
	}

	.t-list-item-title
	{
		-ms-grid-column: 2;
		-ms-grid-row: 1;
	}

	.t-list-item-menu
	{
		-ms-grid-column: 2;
		-ms-grid-row: 2;
	}
	.t-image-overlay > .t-image-overlay-caption > .t-image-overlay-caption-title
	{
		font-size: 18pt;
	}
}


@media screen and (orientation: portrait) and (max-width: 320px)
{
	.t-list-item
	{
		width: 100%;
		height: 48px;
		margin: 0px 0px 6px 0px;
	}

	.t-list-item-grid
	{
		display: -ms-grid;
		-ms-grid-columns: 50px 1fr;
		-ms-grid-rows: auto 1fr;
	}
	
	.t-list-item-title
	{
		-ms-grid-column: 2;
		-ms-grid-row: 1;
		-ms-grid-row-align: start;
		padding-left: 6px;
		font-size: 11pt;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	.t-list-item-icon
	{
		-ms-grid-column: 1;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		height: 50px;
		overflow: hidden;
	}

	.t-list-item-menu
	{
		-ms-grid-column: 2;
		-ms-grid-row: 2;
		display: -ms-box;
		-ms-box-orient: horizontal;
		-ms-box-lines: multiple;
		padding-left: 6px;
		font-size: 9pt;
		color: #aaa;
	}
	
	.t-list-item-menu > div
	{
		margin-right: 6px;
	}
}